*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:black;
    

}
h1{
      
      text-align: center;
      color: whitesmoke;
}

.tickbord{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
     width: 550px;
     height: 550px;
     gap: 6vh;
     padding-left: 8vh;
     background-size: cover;
    background: url(https://www.behance.net/gallery/133415987/Relax);
    background-repeat: no-repeat;
     
     
}
.square{
    width: 145px;
    height:145px;
    border:1px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: auto;
    cursor:pointer;
    display: transpater;

    background-color: rgba(255, 255, 255, 0.5); /* White background with 50% opacity */
  padding: 20px; /* Add padding to see the effect */
  border: 1px solid #000; /* Optional: Add a border to see the div */
}

}

.massage{
    width: 30vh;
     height: 5vh;
     border: 1px rosybrown solid;
     position: relative;   
     color:red;
   
    bottom: 70px;
  
     margin-left: 10vh;
    
}
.resetbutton{
      color:red;
      background-color: whitesmoke;
      width:100px;
      height: 40PX;
      margin-left: 100vh;
      border: 1px solid white;

}